html
  head
      title Power Hour - Active
      style
        include styles/application.css
      link(rel="preconnect" href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;600&display=swap" rel="stylesheet")
  body
    div()= incrementCounter
    div(class='larger-font flex center-items playlist-start') Enjoy the power hour!
    div(class='regular-text')
      | Don't leave this page! If you want to stop this from controlling your Spotify, you have to use the button below!
      | Otherwise, you will have to disconnect this app from Spotify for it to stop sending songs.
    form(action="clear" class='flex center-items' method="POST")
      div(class='flex center-items')
      button.btn.btn-primary(class='start-button' type='submit') Stop